body{
  margin: 0px; box-sizing: border-box;

}
#container{
  display: grid; grid-template-columns: repeat(4,1fr); gap: 20px; width: 90%; margin: auto; text-align: center;
}
.movie_card{
  border: 2px solid black;
}
#input{
  margin-left: 45%; margin-top: 5vh; background-color: rgb(243, 220, 203); height: 30px; text-align: center;
}
img{
  width: 100%;
}
@media screen and (max-width:360px){
  #container{
    grid-template-columns: repeat(2,1fr);
  }
}
button{
  cursor: pointer;
}